body {
  width: 100%;
  background-color: #6caec9;
}
body header {
  background-color: #96EEEB;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}
body header .main-head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  margin: 1.5% 0;
  margin-left: 7%;
}
body header .main-head h1 {
  width: 100%;
  font-size: 3.7rem;
  font-family: 'Lora', serif;
}
body header .main-headtwo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  width: 60%;
}
body header .main-headtwo a {
  font-family: 'DM Mono', monospace;
  text-decoration: none;
  color: #5e5b5b;
  text-align: center;
  width: 16%;
  align-items: center;
  font-size: 2rem;
  font-family: 'Lora', serif;
}
body section.part-one {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  margin-top: 3%;
  padding-top: 100px;
}
body section.part-one .text {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  width: 36%;
}
body section.part-one .text h2 {
  font-family: 'Lora', serif;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 1.5%;
}
body section.part-one .text h3 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1%;
}
body section.part-one .text p {
  font-family: 'DM Mono', monospace;
  font-size: 1.7rem;
}
body section.part-one .text button {
  margin: 13% 0% 10% 0%;
  font-size: 1.5rem;
  width: 45%;
  border: double #bbf8f8;
  border-radius: 50px;
  padding: 1%;
}
body section.part-one .text button:hover {
  background-color: #78c7f5;
}
body section.part-two {
  margin-top: 6%;
}
.about header {
  background-color: rgba(49, 75, 87, 0.938);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer {
  background-color: #96EEEB;
}
footer .foot {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media ( max-width: 1366px) {
  body {
    background-color: rgba(1, 22, 34, 0.986);
  }
}
@media ( max-width: 800px ) {
  body {
    width: 100%;
    background-color: #6caec9;
  }
}
body header {
  position: fixed;
  top: 0;
}
@media ( max-width: 1366px) {
  body header {
    background-color: rgba(49, 75, 87, 0.938);
  }
}
@media ( max-width: 800px ) {
  body header {
    background-color: rgba(59, 68, 77, 0.938);
  }
}
@media ( max-width: 500px )  {
  body header {
    width: 100%;
    background-color: #96EEEB;
  }
}
@media ( max-width: 1366px) {
  body header .main-head {
    width: 100%;
    margin-left: 4%;
    background-color: rgba(49, 75, 87, 0.938);
  }
}
@media ( max-width: 800px ) {
  body header .main-head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    margin: 1.5% 0% 1.5% 3%;
  }
}
@media ( max-width: 500px )  {
  body header .main-head {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    background-color: #96EEEB;
  }
}
@media ( max-width: 1366px) {
  body header .main-head h1 {
    font-size: 3rem;
    color: #96EEEB;
  }
}
@media ( max-width: 800px ) {
  body header .main-head h1 {
    align-content: center;
    width: 100%;
    font-size: 2rem;
    margin: 2% 0% 2% 2%;
    color: #eed3d3;
  }
}
@media ( max-width: 500px )  {
  body header .main-head h1 {
    width: 100%;
    margin: 2% 0;
    font-size: 1.7rem;
    text-align: center;
    color: black;
  }
}
@media ( max-width: 1366px) {
  body header .main-head .main-headtwo {
    width: 55%;
  }
}
@media ( max-width: 800px ) {
  body header .main-head .main-headtwo {
    width: 50%;
    margin: 0%;
  }
}
@media ( max-width: 500px )  {
  body header .main-head .main-headtwo {
    margin: 2% 0;
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
}
body header .main-head .main-headtwo a {
  font-family: 'DM Mono', monospace;
  text-decoration: none;
  color: #5e5b5b;
  text-align: center;
  width: 16%;
  align-items: center;
  font-size: 2rem;
  font-family: 'Lora', serif;
}
@media ( max-width: 1366px) {
  body header .main-head .main-headtwo a {
    font-size: 2rem;
    color: #d7d7fc;
  }
}
@media ( max-width: 800px ) {
  body header .main-head .main-headtwo a {
    font-size: 1.2rem;
    margin: 0%;
  }
}
@media ( max-width: 500px )  {
  body header .main-head .main-headtwo a {
    font-size: 1.2rem;
    text-align: center;
    color: #5e5b5b;
  }
}
body header .main-head .main-headtwo a.main-type4 {
  text-align: end;
  width: 40%;
  color: gray;
}
@media ( max-width: 1366px) {
  body header .main-head .main-headtwo a.main-type4 {
    font-size: 1.5rem;
    padding-right: 2%;
    font-family: 'DM Mono', monospace;
  }
}
@media ( max-width: 800px ) {
  body header .main-head .main-headtwo a.main-type4 {
    width: 30;
    font-size: 1rem;
    margin: 0%;
  }
}
@media ( max-width: 500px )  {
  body header .main-head .main-headtwo a.main-type4 {
    width: 25%;
  }
}
@media ( max-width: 1366px) {
  body section.part-one {
    width: 100%;
  }
}
@media ( max-width: 800px ) {
  body section.part-one {
    width: 100%;
    margin: 0%;
  }
}
@media ( max-width: 500px )  {
  body section.part-one {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1505236116346-cb80596d13dc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=tim-foster-kUOQujUdfSY-unsplash.jpg");
  }
}
@media ( max-width: 1366px) {
  body section.part-one .text {
    width: 45%;
    margin: 0 0 0 4%;
  }
}
@media ( max-width: 800px ) {
  body section.part-one .text {
    width: 42%;
    margin: 0 0 0 3%;
    padding-top: 1.5%;
  }
}
@media ( max-width: 500px )  {
  body section.part-one .text {
    width: 100%;
    margin: 0 1.5%;
  }
}
@media ( max-width: 1366px) {
  body section.part-one .text h2 {
    width: 100%;
    font-size: 2.5rem;
    color: #96EEEB;
  }
}
@media ( max-width: 800px ) {
  body section.part-one .text h2 {
    width: 100%;
    margin: 0%;
    font-size: 1.5rem;
    padding-top: 2%;
    color: #020214;
  }
}
@media ( max-width: 500px )  {
  body section.part-one .text h2 {
    width: 100%;
    font-size: 1.7rem;
    color: #b2ecb0;
    text-align: center;
  }
}
@media ( max-width: 1366px) {
  body section.part-one .text h3 {
    width: 100%;
    font-size: 1.7rem;
    color: #96EEEB;
  }
}
@media ( max-width: 800px ) {
  body section.part-one .text h3 {
    width: 100%;
    margin: 0%;
    font-size: 1.5rem;
    color: #020214;
  }
}
@media ( max-width: 500px )  {
  body section.part-one .text h3 {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    color: #b2ecb0;
    margin-bottom: 2%;
  }
}
@media ( max-width: 1366px) {
  body section.part-one .text p {
    width: 100%;
    font-size: 1.2rem;
    color: #96EEEB;
  }
}
@media ( max-width: 800px ) {
  body section.part-one .text p {
    width: 100%;
    margin: 0%;
    font-size: 1rem;
    color: #020214;
  }
}
@media ( max-width: 500px )  {
  body section.part-one .text p {
    width: 100%;
    font-size: 1rem;
    color: #8dcaf3;
  }
}
body section.part-one .text .click {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
}
@media ( max-width: 800px ) {
  body section.part-one .text .click {
    width: 100%;
    margin: 6% 0;
  }
}
@media ( max-width: 500px )  {
  body section.part-one .text .click {
    width: 100%;
  }
}
body section.part-one .text .click button a {
  text-decoration: none;
  color: black;
}
@media ( max-width: 500px )  {
  body section.part-one .text .click button a {
    font-size: 1rem;
    color: #8dcaf3;
  }
}
@media ( max-width: 800px ) {
  body section.part-one .text .click button {
    width: 70%;
    margin: 0%;
    font-size: 1rem;
    margin: 1.5% 0;
  }
  body section.part-one .text .click button:hover {
    background-color: blue;
    color: cornsilk;
  }
}
@media ( max-width: 500px )  {
  body section.part-one .text .click button {
    width: 45%;
    background-color: #47494b;
    font-size: 1rem;
    color: #8dcaf3;
  }
}
body section.part-one .image {
  margin-right: 8%;
  width: 45%;
}
@media ( max-width: 1366px) {
  body section.part-one .image {
    width: 47%;
    margin: 0% 2% 0% 0%;
  }
}
@media ( max-width: 800px ) {
  body section.part-one .image {
    width: 48%;
    margin: 0% 3% 0% 0.5%;
  }
}
@media ( max-width: 500px )  {
  body section.part-one .image {
    display: none;
  }
}
body section.part-one .image img {
  width: 100%;
  height: 450px;
  border-radius: 50px;
}
@media ( max-width: 1366px) {
  body section.part-one .image img {
    width: 100%;
    height: 400px;
  }
}
@media ( max-width: 800px ) {
  body section.part-one .image img {
    width: 100%;
    height: 300px;
    padding: 3% 0;
  }
}
@media ( max-width: 800px ) {
  body section.part-two {
    width: 100%;
    margin: 1.5% 0;
  }
}
@media ( max-width: 500px )  {
  body section.part-two {
    width: 100%;
  }
}
body section.part-two .middle-part {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  margin: 0 5%;
  width: 90%;
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part {
    width: 97%;
    margin: 0 1.5%;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part {
    width: 100%;
    margin: 0;
    align-content: center;
  }
}
body section.part-two .middle-part .middle-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-one {
    width: 25%;
    margin: 0 1.5%;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-one {
    width: 30%;
    margin: 0 2.5%;
  }
}
body section.part-two .middle-part .middle-one img {
  margin-bottom: 2%;
  width: 100%;
  height: 85%;
  border-radius: 32px;
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-one img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-one img {
    margin-bottom: 2%;
    width: 100%;
    height: 70%;
    border-radius: 15px;
  }
}
body section.part-two .middle-part .middle-one a {
  margin: 2% 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  text-align: center;
}
@media ( max-width: 1366px) {
  body section.part-two .middle-part .middle-one a {
    color: #96EEEB;
    font-size: 1.2rem;
  }
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-one a {
    font-size: 1rem;
    font-family: 'Lora', serif;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-one a {
    width: 100%;
    font-size: 0.7rem;
    color: #0e202c;
  }
}
body section.part-two .middle-part .middle-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-two {
    width: 25%;
    margin: 0 1.5%;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-two {
    width: 30%;
    margin: 0 2.5%;
  }
}
body section.part-two .middle-part .middle-two img {
  margin-bottom: 2%;
  width: 100%;
  height: 85%;
  border-radius: 32px;
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-two img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-two img {
    margin-bottom: 2%;
    width: 100%;
    height: 70%;
    border-radius: 15px;
  }
}
body section.part-two .middle-part .middle-two a {
  margin: 2% 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  text-align: center;
}
@media ( max-width: 1366px) {
  body section.part-two .middle-part .middle-two a {
    color: #96EEEB;
    font-size: 1.2rem;
  }
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-two a {
    font-size: 1rem;
    font-family: 'Lora', serif;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-two a {
    width: 100%;
    font-size: 0.7rem;
    color: #0e202c;
  }
}
body section.part-two .middle-part .middle-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-three {
    width: 25%;
    margin: 0 1.5%;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-three {
    width: 30%;
    margin: 0 2.5%;
  }
}
body section.part-two .middle-part .middle-three img {
  margin-bottom: 2%;
  width: 100%;
  height: 85%;
  border-radius: 32px;
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-three img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-three img {
    margin-bottom: 2%;
    width: 100%;
    height: 70%;
    border-radius: 15px;
  }
}
body section.part-two .middle-part .middle-three a {
  margin: 2% 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  text-align: center;
}
@media ( max-width: 1366px) {
  body section.part-two .middle-part .middle-three a {
    color: #96EEEB;
    font-size: 1.2rem;
  }
}
@media ( max-width: 800px ) {
  body section.part-two .middle-part .middle-three a {
    font-size: 1rem;
    font-family: 'Lora', serif;
  }
}
@media ( max-width: 500px )  {
  body section.part-two .middle-part .middle-three a {
    width: 100%;
    font-size: 0.7rem;
    color: #0e202c;
  }
}
body section.part-three {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  border-top: double gray;
  margin: 3% 0;
  padding: 2% 0;
}
@media ( max-width: 1366px) {
  body section.part-three {
    color: #96EEEB;
    font-size: 1.2rem;
  }
}
@media ( max-width: 800px ) {
  body section.part-three {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    width: 100%;
  }
}
@media ( max-width: 500px )  {
  body section.part-three {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
body section.part-three .last-part {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media ( max-width: 1366px) {
  body section.part-three .last-part {
    color: #96EEEB;
    font-size: 1.2rem;
    justify-content: center;
  }
}
@media ( max-width: 800px ) {
  body section.part-three .last-part {
    width: 100%;
  }
}
@media ( max-width: 500px )  {
  body section.part-three .last-part {
    width: 100%;
  }
}
body section.part-three .last-part h3 {
  font-size: 1.7rem;
  text-align: center;
  width: 30%;
  padding: 1.5% 0;
  margin: 1% 0;
}
@media ( max-width: 1366px) {
  body section.part-three .last-part h3 {
    width: 100%;
    font-size: 2rem;
  }
}
@media ( max-width: 800px ) {
  body section.part-three .last-part h3 {
    width: 100%;
    color: black;
  }
}
@media ( max-width: 500px )  {
  body section.part-three .last-part h3 {
    width: 100%;
  }
}
body section.part-three .last-part img {
  width: 70%;
  height: 500px;
  border-radius: 40px;
}
@media ( max-width: 1366px) {
  body section.part-three .last-part img {
    height: 400px;
    margin: 4% 0;
  }
}
@media ( max-width: 800px ) {
  body section.part-three .last-part img {
    width: 40%;
    height: 300px;
  }
}
@media ( max-width: 500px )  {
  body section.part-three .last-part img {
    width: 60%;
    height: 250px;
  }
}
body section.part-three .last-part button {
  margin: 3% 0;
  padding: 1.5% 0;
  border-radius: 10px;
  width: 30%;
}
body section.part-three .card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  width: 55%;
  padding-right: 3%;
  line-height: 1;
}
@media ( max-width: 1366px) {
  body section.part-three .card {
    color: #96EEEB;
    font-size: 1.2rem;
  }
}
@media ( max-width: 800px ) {
  body section.part-three .card {
    width: 100%;
  }
}
@media ( max-width: 500px )  {
  body section.part-three .card {
    width: 95%;
    margin: 2.5%;
  }
}
body section.part-three .card p {
  font-size: 1.2rem;
  margin-bottom: 1.5%;
}
@media ( max-width: 1366px) {
  body section.part-three .card p {
    color: #96EEEB;
    font-size: 1.2rem;
    font-size: 1rem;
  }
}
@media ( max-width: 800px ) {
  body section.part-three .card p {
    font-size: 1rem;
    color: black;
  }
}
@media ( max-width: 500px )  {
  body section.part-three .card p {
    width: 100%;
    padding: 0 3%;
    color: #011818;
  }
}
body section.part-three .card div {
  width: 30%;
}
@media ( max-width: 1366px) {
  body section.part-three .card div {
    color: #96EEEB;
    font-size: 1.2rem;
    width: 48%;
  }
}
@media ( max-width: 800px ) {
  body section.part-three .card div {
    width: 100%;
    padding-left: 3%;
    color: #011818;
  }
}
@media ( max-width: 500px )  {
  body section.part-three .card div {
    width: 100%;
    padding: 0 3%;
    color: #011818;
  }
}
body section.part-three .card div h3 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2%;
}
body section.part-three .card .card-1 {
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
}
body section.part-three .card .card-1 h1 {
  font-size: 1.5rem;
}
body section.part-three .card .card-1 p {
  font-size: 1.2rem;
  line-height: 1;
}
body section.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
}
body section.product h2 {
  font-size: 2rem;
  line-height: 1.5;
}
body section.product p {
  font-size: 1.2rem;
}
@media ( max-width: 1366px) {
  body section.product {
    color: #96EEEB;
    font-size: 1.2rem;
  }
}
@media ( max-width: 800px ) {
  body section.product h2 {
    font-size: 1.7rem;
    color: black;
  }
  body section.product p {
    font-size: 1rem;
    color: #021216;
    padding: 0 3%;
  }
}
@media ( max-width: 500px )  {
  body section.product {
    width: 100%;
  }
}
@media ( max-width: 1366px) {
  body footer {
    background-color: rgba(49, 75, 87, 0.938);
  }
}
@media ( max-width: 800px ) {
  body footer {
    background-color: rgba(59, 68, 77, 0.938);
  }
}
@media ( max-width: 500px )  {
  body footer {
    background-color: #96EEEB;
  }
}
body footer .foot h3 {
  padding-top: 2%;
  font-size: 2rem;
}
@media ( max-width: 1366px) {
  body footer .foot h3 {
    color: #bcbce2;
  }
}
@media ( max-width: 800px ) {
  body footer .foot h3 {
    color: #aaf5eb;
    text-align: center;
    font-size: 1.5rem;
  }
}
@media ( max-width: 500px )  {
  body footer .foot h3 {
    font-size: 1.2rem;
    color: black;
  }
}
body footer .foot a {
  margin: 2% 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-bottom: 0%;
  padding-bottom: 2%;
}
@media ( max-width: 1366px) {
  body footer .foot a {
    color: #bcbce2;
  }
}
@media ( max-width: 800px ) {
  body footer .foot a {
    color: #aaf5eb;
    text-align: center;
  }
}
@media ( max-width: 500px )  {
  body footer .foot a {
    width: 100%;
    font-size: 0.7rem;
    color: #0e202c;
  }
}
.about {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1525629473482-8de11a64d3d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
  background-position: center;
  background-size: cover;
}
@media ( max-width: 800px ) {
  .about {
    width: 100%;
  }
}
@media ( max-width: 500px )  {
  .about {
    width: 100%;
  }
}
.about header {
  position: unset;
  padding: 1% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media ( max-width: 800px ) {
  .about header {
    width: 100%;
  }
}
@media ( max-width: 500px )  {
  .about header {
    width: 100%;
    padding: 0;
    background-color: #cdefff;
  }
}
.about header h1 {
  margin: 2% 0;
  width: 99%;
  font-size: 3rem;
  align-content: center;
  color: #bcbcca;
  text-align: center;
}
@media ( max-width: 800px ) {
  .about header h1 {
    width: 100%;
    font-size: 2rem;
  }
}
@media ( max-width: 500px )  {
  .about header h1 {
    font-size: 1.5rem;
    color: black;
  }
}
.about header .one-n {
  width: 100%;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media ( max-width: 800px ) {
  .about header .one-n {
    width: 100%;
    font-size: 1.5rem;
  }
}
@media ( max-width: 500px )  {
  .about header .one-n {
    width: 100%;
    font-size: 1.2rem;
  }
}
.about header .one-n nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about header .one-n nav a {
  width: 30%;
  text-align: center;
  text-decoration: none;
  color: blanchedalmond;
}
@media ( max-width: 500px )  {
  .about header .one-n nav a {
    color: black;
    margin-bottom: 2%;
  }
}
.about header .one-n nav a:hover {
  color: #f7806b;
}
.about .first {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
@media ( max-width: 800px ) {
  .about .first {
    width: 97%;
    margin-left: 2.5%;
  }
}
@media ( max-width: 500px )  {
  .about .first {
    width: 97%;
    display: flex;
    flex-direction: column;
  }
}
.about .first .first-one {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  text-align: center;
  width: 25%;
  margin: 2% 2%;
}
@media ( max-width: 800px ) {
  .about .first .first-one {
    width: 40%;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-one {
    width: 50%;
  }
}
.about .first .first-one img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}
@media ( max-width: 800px ) {
  .about .first .first-one img {
    margin: 0 2%;
    width: 95%;
    height: 250px;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-one img {
    width: 100%;
    height: 180px;
  }
}
.about .first .first-one h1 {
  width: 100%;
  font-size: 1.7rem;
  color: #17a8b3;
}
@media ( max-width: 800px ) {
  .about .first .first-one h1 {
    font-size: 1.5rem;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-one h1 {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-one a {
  color: #17a8b3;
  width: 100%;
  font-size: 1.7rem;
  text-decoration: none;
}
@media ( max-width: 500px )  {
  .about .first .first-one a {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-one a:hover {
  width: 80%;
  margin: 0 10%;
  background-color: #96EEEB;
  color: #e40a70;
  border-radius: 10px;
  padding: 1.5% 0;
}
.about .first .first-one a.webone {
  color: black;
  width: 100%;
  background-color: blanchedalmond;
  padding: 1% 0;
  border-radius: 10px;
}
@media ( max-width: 800px ) {
  .about .first .first-one a.webone {
    font-size: 1.2rem;
  }
}
.about .first .first-two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  text-align: center;
  width: 25%;
  margin: 2% 2%;
}
@media ( max-width: 800px ) {
  .about .first .first-two {
    width: 40%;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-two {
    width: 50%;
  }
}
.about .first .first-two h1 {
  width: 100%;
  font-size: 1.7rem;
  color: #17a8b3;
}
@media ( max-width: 800px ) {
  .about .first .first-two h1 {
    font-size: 1.5rem;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-two h1 {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-two a {
  width: 100%;
  font-size: 1.7rem;
  text-decoration: none;
  color: #17a8b3;
}
@media ( max-width: 500px )  {
  .about .first .first-two a {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-two a:hover {
  width: 80%;
  margin: 0 10%;
  background-color: #96EEEB;
  color: #e40a70;
  border-radius: 10px;
  padding: 1.5% 0;
}
.about .first .first-two a.chadweb {
  color: black;
  background-color: blanchedalmond;
  padding: 1% 0;
  border-radius: 10px;
  width: 100%;
}
@media ( max-width: 800px ) {
  .about .first .first-two a.chadweb {
    font-size: 1.2rem;
  }
}
.about .first .first-two img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}
@media ( max-width: 800px ) {
  .about .first .first-two img {
    margin: 0 2%;
    width: 95%;
    height: 250px;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-two img {
    width: 100%;
    height: 180px;
  }
}
.about .first .first-three {
  text-align: center;
  width: 25%;
  margin: 2% 2%;
}
@media ( max-width: 800px ) {
  .about .first .first-three {
    width: 40%;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-three {
    width: 50%;
  }
}
.about .first .first-three h1 {
  font-size: 1.7rem;
  color: #17a8b3;
}
@media ( max-width: 800px ) {
  .about .first .first-three h1 {
    font-size: 1.5rem;
    color: blanchedalmond;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-three h1 {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-three a {
  color: #17a8b3;
  width: 100%;
  font-size: 1.7rem;
  text-decoration: none;
}
@media ( max-width: 800px ) {
  .about .first .first-three a {
    font-size: 1.5rem;
    color: blanchedalmond;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-three a {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-three a:hover {
  width: 80%;
  margin: 0 10%;
  background-color: #96EEEB;
  color: #e40a70;
  border-radius: 10px;
  padding: 1.5% 0;
}
.about .first .first-three img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}
@media ( max-width: 800px ) {
  .about .first .first-three img {
    margin: 0 2%;
    width: 95%;
    height: 250px;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-three img {
    width: 100%;
    height: 180px;
  }
}
.about .first .first-four {
  text-align: center;
  width: 25%;
  margin: 2% 2%;
}
@media ( max-width: 800px ) {
  .about .first .first-four {
    width: 40%;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-four {
    width: 50%;
  }
}
.about .first .first-four h1 {
  color: #96EEEB;
  font-size: 1.7rem;
}
@media ( max-width: 800px ) {
  .about .first .first-four h1 {
    font-size: 1.5rem;
    color: blanchedalmond;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-four h1 {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-four a {
  color: #96EEEB;
  width: 100%;
  font-size: 1.7rem;
  text-decoration: none;
}
@media ( max-width: 800px ) {
  .about .first .first-four a {
    font-size: 1.5rem;
    color: blanchedalmond;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-four a {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-four a:hover {
  width: 80%;
  margin: 0 10%;
  background-color: #96EEEB;
  color: #e40a70;
  border-radius: 10px;
  padding: 1.5% 0;
}
.about .first .first-four img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}
@media ( max-width: 800px ) {
  .about .first .first-four img {
    margin: 0 2%;
    width: 95%;
    height: 250px;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-four img {
    width: 100%;
    height: 180px;
  }
}
.about .first .first-five {
  text-align: center;
  width: 25%;
  margin: 2% 2%;
}
@media ( max-width: 800px ) {
  .about .first .first-five {
    width: 40%;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-five {
    width: 50%;
  }
}
.about .first .first-five h1 {
  color: #96EEEB;
  font-size: 1.7rem;
}
@media ( max-width: 800px ) {
  .about .first .first-five h1 {
    font-size: 1.5rem;
    color: blanchedalmond;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-five h1 {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-five a {
  color: #96EEEB;
  width: 100%;
  font-size: 1.7rem;
  text-decoration: none;
}
@media ( max-width: 800px ) {
  .about .first .first-five a {
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-five a {
    width: 100%;
    font-size: 1.2rem;
    color: blanchedalmond;
  }
}
.about .first .first-five a:hover {
  width: 80%;
  margin: 0 10%;
  background-color: #96EEEB;
  color: #e40a70;
  border-radius: 10px;
  padding: 1.5% 0;
}
@media ( max-width: 500px )  {
  .about .first .first-five a:hover {
    width: 100%;
  }
}
.about .first .first-five img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}
@media ( max-width: 800px ) {
  .about .first .first-five img {
    margin: 0 2%;
    width: 95%;
    height: 250px;
  }
}
@media ( max-width: 500px )  {
  .about .first .first-five img {
    width: 100%;
    height: 180px;
  }
}
.about section.info {
  display: flex;
  flex-direction: column;
  width: 99%;
}
.about section.info #vick {
  color: #96EEEB;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}
.about section.info #vick img {
  padding: 0 3%;
  width: 30%;
}
.about section.info #vick .vick-info {
  width: 55%;
}
.about section.info #vick .vick-info h1 {
  padding: 2% 0;
  font-size: 2rem;
  color: #d2f8f5;
}
@media ( max-width: 800px ) {
  .about section.info #vick .vick-info h1 {
    font-size: 1.5rem;
  }
}
@media ( max-width: 500px )  {
  .about section.info #vick .vick-info h1 {
    width: 100%;
    font-size: 1.5rem;
  }
}
.about section.info #vick .vick-info h2 {
  padding: 2% 0;
  font-size: 1.7rem;
  color: #d2f8f5;
}
@media ( max-width: 800px ) {
  .about section.info #vick .vick-info h2 {
    font-size: 1.5rem;
  }
}
@media ( max-width: 500px )  {
  .about section.info #vick .vick-info h2 {
    width: 100%;
    font-size: 1.5rem;
  }
}
.about section.info #vick .vick-info p {
  font-size: 1.5rem;
}
@media ( max-width: 800px ) {
  .about section.info #vick .vick-info p {
    font-size: 1.2rem;
  }
}
@media ( max-width: 500px )  {
  .about section.info #vick .vick-info p {
    width: 100%;
    font-size: 1rem;
  }
}
.about section.info #chad {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  color: #d2f8f5;
  margin: 2% 3%;
}
@media ( max-width: 800px ) {
  .about section.info #chad {
    display: flex;
    flex-direction: column;
    width: 96%;
  }
}
@media ( max-width: 500px )  {
  .about section.info #chad {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: 2% 0;
    padding: 0 3%;
  }
}
.about section.info #chad h1 {
  text-align: center;
  font-size: 2rem;
  color: #d2f8f5;
  padding: 3%;
}
@media ( max-width: 800px ) {
  .about section.info #chad h1 {
    font-size: 1.5rem;
    padding: 1%;
  }
}
@media ( max-width: 500px )  {
  .about section.info #chad h1 {
    width: 100%;
    font-size: 1.5rem;
  }
}
.about section.info #chad p {
  font-size: 1.5rem;
}
@media ( max-width: 800px ) {
  .about section.info #chad p {
    font-size: 1.2rem;
    padding: 2%;
  }
}
@media ( max-width: 500px )  {
  .about section.info #chad p {
    width: 100%;
    font-size: 1rem;
  }
}
.about section.info #chad li {
  font-size: 1.2rem;
}
.about section.info #chad .chad-one {
  width: 50%;
}
@media ( max-width: 800px ) {
  .about section.info #chad .chad-one {
    font-size: 1.5rem;
    width: 95%;
  }
}
@media ( max-width: 500px )  {
  .about section.info #chad .chad-one {
    width: 100%;
    font-size: 1.2rem;
    margin: 0%;
  }
}
.about section.info #chad .chad-img {
  width: 43%;
}
.about section.info #chad .chad-img img {
  width: 100%;
}
@media ( max-width: 800px ) {
  .about section.info #chad .chad-img {
    width: 60%;
  }
  .about section.info #chad .chad-img img {
    width: 100%;
  }
}
@media ( max-width: 500px )  {
  .about section.info #chad .chad-img {
    width: 80%;
    margin: 0;
  }
  .about section.info #chad .chad-img img {
    width: 100%;
  }
}
.about section.info #Rob {
  color: #96EEEB;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}
.about section.info #Rob img {
  width: 30%;
  padding: 0 3%;
}
.about section.info #Rob .rob-info {
  width: 60%;
}
.about section.info #Rob .rob-info h1 {
  font-size: 2rem;
  color: #d2f8f5;
  padding: 0 3%;
}
@media ( max-width: 800px ) {
  .about section.info #Rob .rob-info h1 {
    font-size: 1.7rem;
  }
}
@media ( max-width: 500px )  {
  .about section.info #Rob .rob-info h1 {
    width: 100%;
    font-size: 1.5rem;
    margin: 0%;
  }
}
.about section.info #Rob .rob-info p {
  font-size: 1.5rem;
}
@media ( max-width: 800px ) {
  .about section.info #Rob .rob-info p {
    font-size: 1.2rem;
  }
}
@media ( max-width: 500px )  {
  .about section.info #Rob .rob-info p {
    width: 100%;
    font-size: 1rem;
    margin: 0%;
  }
}
.about section.info #nicole {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
@media ( max-width: 800px ) {
  .about section.info #nicole {
    width: 100%;
  }
}
@media ( max-width: 500px )  {
  .about section.info #nicole {
    width: 100%;
  }
}
.about section.info #nicole img {
  padding: 2% 3%;
  width: 30%;
}
@media ( max-width: 800px ) {
  .about section.info #nicole img {
    height: 200px;
  }
}
@media ( max-width: 500px )  {
  .about section.info #nicole img {
    height: 150px;
  }
}
.about section.info #nicole .nicole-info {
  width: 60%;
  color: #d2f8f5;
}
.about section.info #nicole .nicole-info h1 {
  padding: 0 3%;
  margin: 2% 0;
  font-size: 2rem;
}
.about section.info #nicole .nicole-info p {
  font-size: 1.5rem;
}
@media ( max-width: 800px ) {
  .about section.info #nicole .nicole-info h1 {
    font-size: 1.7rem;
  }
  .about section.info #nicole .nicole-info p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
@media ( max-width: 500px )  {
  .about section.info #nicole .nicole-info h1 {
    font-size: 1.5rem;
  }
  .about section.info #nicole .nicole-info p {
    font-size: 1rem;
    line-height: 1;
  }
}
.about section.info #Khwanchai {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  color: #d2f8f5;
}
.about section.info #Khwanchai .Khwanchai-info {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.about section.info #Khwanchai .Khwanchai-info h1 {
  font-size: 2rem;
  padding: 3% 3%;
  text-align: center;
}
.about section.info #Khwanchai .Khwanchai-info p {
  font-size: 1.5rem;
  padding: 0 6%;
  line-height: 1.5;
}
.about section.info #Khwanchai .Khwanchai-info a {
  padding: 3% 0;
  width: 100%;
  text-decoration: none;
  font-size: 1.7rem;
  color: #6ef5ea;
  text-align: center;
}
.about section.info #Khwanchai img {
  padding: 0 3%;
  width: 30%;
}
@media ( max-width: 800px ) {
  .about section.info #Khwanchai .Khwanchai-info h1 {
    font-size: 1.5rem;
  }
  .about section.info #Khwanchai .Khwanchai-info p {
    font-size: 1rem;
  }
  .about section.info #Khwanchai .Khwanchai-info a {
    font-size: 1.5rem;
  }
}
@media ( max-width: 500px )  {
  .about section.info #Khwanchai {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    width: 100%;
  }
  .about section.info #Khwanchai .Khwanchai-info {
    width: 100%;
  }
  .about section.info #Khwanchai .Khwanchai-info h1 {
    font-size: 1.5rem;
  }
  .about section.info #Khwanchai .Khwanchai-info p {
    font-size: 1rem;
  }
  .about section.info #Khwanchai .Khwanchai-info a {
    font-size: 1.5rem;
  }
}
.about footer {
  width: 100%;
}
.about footer .contact {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  justify-content: center;
  padding: 2% 0;
  width: 100%;
}
.about footer .contact h1 {
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
}
.about footer .contact h2 {
  padding: 1% 0;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.about footer .contact .mail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
}
.about footer .contact .mail a {
  font-size: 1.5rem;
  text-decoration: none;
}
@media ( max-width: 800px ) {
  .about footer .contact h1 {
    font-size: 1.7rem;
  }
  .about footer .contact h2 {
    font-size: 1.2rem;
  }
}
@media ( max-width: 1366px) {
  .about footer .contact h1,
  .about footer .contact h2 {
    color: #30d2d8;
  }
  .about footer .contact .mail a {
    text-decoration: none;
    color: whitesmoke;
  }
}
@media ( max-width: 800px ) {
  .about footer .contact h1 {
    font-size: 1.5rem;
  }
  .about footer .contact h2 {
    font-size: 1rem;
  }
  .about footer .contact .mail {
    justify-content: space-between;
    padding: 0 2%;
  }
  .about footer .contact .mail a {
    font-size: 1.2rem;
    color: whitesmoke;
  }
}
@media ( max-width: 500px )  {
  .about footer .contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
  }
  .about footer .contact h1 {
    color: rgba(1, 22, 34, 0.986);
    font-size: 1.5rem;
  }
  .about footer .contact h2 {
    color: rgba(1, 22, 34, 0.986);
    font-size: 1.2rem;
  }
  .about footer .contact .mail {
    display: flex;
    flex-direction: column;
  }
  .about footer .contact .mail a {
    color: rgba(1, 22, 34, 0.986);
    font-size: 1rem;
  }
}
